@model List<Song>

<h2>Artist: @ViewBag.ArtistName</h2>

@if (Model.Count == 0)
{
    <p>No songs found.</p>
}
else
{
    <h3>Songs:</h3>
    <ul>
        @foreach (var song in Model)
        {
            <li>@song.Title - Album: @song.AlbumTitle</li>
        }
    </ul>
}
